{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}
{%load static %}
{% block contenido %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>        
        <div class="p-5 bg-light">
          <div class="container">
            <h1 class="bg-dark text-white py-4 text-center display-3">Conozca a los integrantes del Grupo 3</h1>            
        </div>
      
        <main class="m-4">
          <section>
            <div class="d-flex flex-wrap justify-content-center" >
              <div class="miembro d-flex flex-column align-items-center m-2" style="width: 20%;">
                <img src="{% static 'img/Bruno1.jpeg' %}" alt="Bernedo Acosta, Bruno Eduardo" class="img-fluid rounded-circle mb-3">
                <h3><center>Bernedo Acosta, Bruno Eduardo</center></h3>
                <p>Estudiante Ing. Sistemas.</p>
              </div>
              
              <div class="miembro d-flex flex-column align-items-center m-2" style="width: 20%;">
                <img src="{% static 'img/gloria.jpg' %}" alt="Cisneros Condori, Gloria Stephany" class="img-fluid rounded-circle mb-3">
                <h3><center>Cisneros Condori, Gloria Stephany</center></h3>
                <p>Estudiante Ing. Sistemas.</p>
              </div>
              <div class="miembro d-flex flex-column align-items-center m-2" style="width: 20%;">
                <img src="{% static 'img/renzo1.jpg' %}" alt="Chumpitaz Rodriguez, Renzo Fernando" class="img-fluid rounded-circle mb-3">                
                <h3><center>Chumpitaz Rodriguez, Renzo Fernando</center></h3>
                <p>Estudiante Ing. Sistemas.</p>
              </div>
              <div class="miembro d-flex flex-column align-items-center m-2" style="width: 20%;">
                <img src="{% static 'img/jp.jpg' %}" alt="Garay Pastrana, Jeanpier Miguel" class="img-fluid rounded-circle mb-3">
                <h3><center>Garay Pastrana, Jeanpier Miguel</center></h3>
                <p>Estudiante Ing. Sistemas.</p>
              </div>
              <div class="miembro d-flex flex-column align-items-center m-2" style="width: 20%;">
                <img src="{% static 'img/christina.jpg' %}" alt="Guillen Piña, Ritcy Christina" class="img-fluid rounded-circle mb-3">
                <h3><center>Guillen Piña, Ritcy Christina</center></h3>
                <p>Estudiante Ing. Sistemas.</p>
              </div>
              <div class="miembro d-flex flex-column align-items-center m-2" style="width: 20%;">
                <img src="{% static 'img/jeremy.jpg' %}" alt="Machare Ramirez, Jeremy Smith" class="img-fluid rounded-circle mb-3">
                <h3><center>Machare Ramirez, Jeremy Smith</center></h3>
                <p>Estudiante Ing. Sistemas.</p>
              </div>
              <div class="miembro d-flex flex-column align-items-center m-2" style="width: 20%;">
                <img src="{% static 'img/patrick.png' %}" alt="Villafranca Cardoso, Patrick Cristopher" class="img-fluid rounded-circle mb-3">
                <h3><center>Villafranca Cardoso, Patrick Cristopher</center></h3>
                <p>Estudiante Ing. Sistemas.</p>
              </div>
            </div>
          </section>
        </main>
      
      </body>
    </html>
    
    {% endblock %}