body {
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0px;
}

h1 {
    margin-bottom: 20px;
}

#camera-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#video-feed {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#capture-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#capture-button:hover {
    background-color: #45a049;
}

#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#login-form input[type="submit"]:hover {
    background-color: #45a049;
}