{% extends "base.html" %}

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}
<br>

<script>
    function eliminar()
    {
        var respuesta = confirm("¿Estás segur@ que deseas eliminar el libro?");
        return respuesta;
    }    
</script>

<div class="container-fluid row">
    <form enctype="multipart/form-data" class="col-4 p-3" method="post">

        {% csrf_token %}
        <h3 class="text-center alert alert-success"><i class="bi bi-book"></i> Registro de libros</h3>

        {% for campo in formulario %}
        <div class="mb-3">
            <label for="" class="form-label">{{ campo.label }}</label>
            <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}"
                placeholder="{{campo.label}}" value="{{ campo.value | default:'' }}">
        </div>
        <div class="col-12 help-text">{{ campo.errors }}</div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary" name="btnRegistrar" value="Enviar informacion"><i
                class="bi bi-save2-fill"></i>
            Registrar libro</button>
    </form>

    <div class="col-8 p-3">
        <table class="table">
            <thead class="table" style="text-align: center;background-color:#2C3E50">
                <tr style="color:#FFFFFF">
                    <th>ID</th>
                    <th>Título</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Publicacion</th>
                    <th>Autor</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody style="text-align: center;background-color: white;">
                {% for libro in libros %}
                <tr>
                    <td>{{libro.id}}</td>
                    <td>{{libro.titulo}}</td>
                    <td>
                        <img src="{{libro.imagen.url}}" height="100">
                    </td>
                    <td>{{libro.descripcion}}</td>
                    <td>{{libro.publicacion}}</td>
                    <td>{{libro.autor}}</td>
                    <td>{{libro.precio}}</td>
                    <td>
                        <a href="{% url 'editar' libro.id%}" class="btn btn-small btn-warning mb-2"><i
                                class="bi bi-pencil-square"></i></a>
                        <a onclick = "return eliminar()"  href="{% url 'eliminar' libro.id %}" class="btn btn-small btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>


{% endblock %}