{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block titulo %}   {% endblock %}</title>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>    
    <script src="../static/plugins/jquery/jquery.min.js"></script>
    <script src="../static/dist/js/pages/dashboard3.js"></script>    
    <script src="../static/plugins/chart.js/Chart.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/dist/js/adminlte.min.js"></script> 
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

</head>

<body>
    <header>
        <!-- place navbar here -->
        <nav class="navbar navbar-expand navbar-dark bg-dark ">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link active" href="{%url 'inicio'%}">Inicio</a>
                <a class="nav-item nav-link active" href="{%url 'libros'%}">Libros</a>
                <a class="nav-item nav-link active" href="{%url 'usuarios'%}">Usuarios</a>
                <a class="nav-item nav-link active" href="{%url 'nosotros'%}">Nosotros</a>
                <a class="nav-item nav-link " href="{%url 'login'%}">Cerrar Sesión</a>
            </div>
            
        </nav>
    </header>

    <main>          

        {% block contenido %}   {% endblock %}

    </main>
    <footer class= "bg-dark text-white py-4 text-center">
        <!-- place footer here -->
        <p>Derechos de autor &copy; 2023-I - GRUPO 3 - INTELIGENCIA DE NEGOCIOS S1 - UNMSM</p>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>